
<form class="row g-3" [formGroup] = "studentForm">
    <div class="col-md-4">
      <label for="validationCustom01" class="form-label">First name</label>
      <input type="text" class="form-control" formControlName="firstname" id="validationCustom01"  >
      <div class="text-danger">
        @if(studentForm.controls['firstname'].touched && studentForm.controls['firstname'].errors?.['required']){
          <span> This is required</span>   
        }
        @else if(studentForm.controls['firstname'].touched && studentForm.controls['firstname'].errors?.['minlength']){
           <span>Min 3 length is required</span>
        }
      </div>
    </div>
    <div class="col-md-4">
      <label for="validationCustom02" class="form-label">Last name</label>
      <input type="text" class="form-control" formControlName="lastname" id="validationCustom02"  >
    </div>
    <div class="col-md-4">
      <label for="validationCustomUsername" class="form-label">Username</label>
      <div class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend">&#64;</span>
        <input type="text" class="form-control" formControlName="username" id="validationCustomUsername" aria-describedby="inputGroupPrepend" >
      </div> 
    </div>
    <div class="col-md-6">
      <label for="validationCustom03" class="form-label">City</label>
      <input type="text" class="form-control" formControlName="city" id="validationCustom03" >
    </div>
    <div class="col-md-3">
      <label for="validationCustom04" class="form-label">State</label>
      <select class="form-select" formControlName="state" id="validationCustom04" >
        <option>Maharashtra</option>
        <option>Goa</option>
        <option>Punjab</option>
      </select>
    </div>
    <div class="col-md-3">
      <label for="validationCustom05" class="form-label">Zip</label>
      <input type="text" class="form-control" formControlName="zipcode" id="validationCustom05" >
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" formControlName="isAcceptTerms" type="checkbox" value="" id="invalidCheck" >
        <label class="form-check-label" for="invalidCheck">
          Agree to terms and conditions
        </label>
        <div class="invalid-feedback">
          You must agree before submitting.
        </div>
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" [disabled]="studentForm.invalid" (click)="onSave()" type="submit"> Save</button>
    </div>
  </form>
  <div class="col-4">
    {{formValue | json}}
  </div>