<p>switch works!</p>



<input [(ngModel)]="dayNumber"  type="text">
<p>The Day is : 
    @switch(dayNumber){
        @case('1'){
            <span>Monday</span>
        }
        @case('2'){
            <span>Tuesday</span>
        }
        @case('3'){
            <span>Wednesday</span>
        }
        @case('4'){
            <span>Thursday</span>
        }
        @case('5'){
            <span>Friday</span>
        }
        @case('6'){
            <span>Saturday</span>
        }
        @case('7'){
            <span>Sunday</span>
        }
        @default{
            <span>Wrong entry</span>
        }
    }  

</p>